    /*$color1: rgba(255, 255, 141, 1); Pastel Yellow
$color2: rgba(46, 196, 182, 1); Cornflowery Blue
$color3: rgba(217, 242, 237, 1); Light Blue White
$color4: rgba(247, 255, 247, 1); White
$color5: rgba(52, 52, 52, 1); Dark Brown/Black
*/

    body {
        background-color: rgba(255, 255, 255, 1) !important;
    }
    header {
        background-color: black;
        margin-top: -15vmin;
    }
    .joinIn-logo{
        display: block;
        width: 100vw;
        height: 50vw;
        background-color: black;
        margin-top: 40px;
        position: relative;
    }
    .city-container {
        width: 100vw !important;
        margin-left: 0 !important;
        padding: 0 !important;
    }
    .city-logo {
        display: block;
        width: 100vw;
        height: 50vw;
        background-color: black;
        position: relative;
    }

    .city-name {
        font-size: 10min;
        color: #f7fff7;
        position: relative;
        text-align: center;
        background-color: black;
    }
    #nav-btns {
        float: left;
    }
    #homeBtn {
        font-size: 60px;
        background-color: #d9f2ed;
        color: rgb(46, 196, 182);
        background-color: rgba(0, 0, 0, 0) !important;
        border: none;
        width: 100px;
        height: 100px;
    }
    #newBlurbBtn {
        color: #343434;
        background-color: rgba(0, 0, 0, 0) !important;
        border: none;
        background-image: url("/images/new-blurb.png");
        background-size: 100% 100%;
        width: 100px;
        height: 100px;
    }
    .topButtons {
        width: 60vw;
        margin: 0 auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .blurb-box {
        background-color: #e9e9e9;
        margin: 5% auto;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 10px 10px 5px grey;
        width: 90vw;
        max-width: 70vmax;
    }
    .blurbText {
        color: #343434;
        font-weight: 100;
        margin: 0;
          width: 60%;
    }
    .likes {
        color: #343434;
    }
    .posterName {
        color: #343434;
        font-weight: 300;
        margin-left: 10%;

    }
    .deleteBlurbBtn {
        background-color: #2ec4b6;
        border-radius: 10%;
        font-size: 4vmin;
        color: #343434;
        width: 5vw;
        height: 5vw;
        min-width: 50px;
        min-height: 50px;
        font-align: center;
        float: right;
        position: relative;
        bottom: 65px;
        margin: 5px;
        box-shadow: 2px 2px 2px grey;
    }
    .likeBlurbBtn {
        background-color: #2ec4b6;
        border-radius: 10%;
        font-size: 4vmin;
        color: #343434;
        width: 7.5vw;
        height: 5vw;
        min-width: 50px;
        min-height: 50px;
        font-align: center;
        float: right;
        position: relative;
        bottom: 65px;
        margin: 5px;
        /*display: flex;
        align-items: center;*/
        box-shadow: 2px 2px 2px grey;
    }
    button {
        border: none;
    }
    fieldset {
        display: flex;
        align-content: space-between;
    }
